# 忽略所有 .log 文件
*.log
 
# 忽略特定文件 mysecretfile.txt
mysecretfile.txt
 
# 忽略整个目录
node_modules/
 
# 忽略所有 .pdf 文件，但跟踪特定的 mydoc.pdf
*.pdf
!mydoc.pdf
 
# 忽略所有文件，但跟踪 .gitignore 和 foo.bar 文件
*
!.gitignore
!foo.bar